.report-tile {
  flex: 1;
  width: 300px;
  height: 300px;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  position: relative;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid $lush-black-8;

  &:not(:last-child) {
    margin-right: 20px;
  }

  .tills-summary__amount + .recharts-wrapper {
    margin: 2rem auto 0;
  }

  text {
    fill: #00A44C;
    font-weight: 100;
    font-size: 3.7rem;
  }

  .title--large {
    font-size: 5.9rem;
  }

  .pie__subtitle {
    color: #00A44C;    
    font-size: 1.1rem;
    line-height: (16 / 11);
    letter-spacing: 2px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

.report-tile--small {
  width: 250px;
  height: 250px;
}