.secondary-header {
  justify-content: space-between;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  &:not(.simplified) {
    background: $white;
    margin-bottom: 25px;
    @include box-shadow;
  }
  &.pull-up {
    margin-top: -25px;
    border-top: 1px solid $grey;
  }
  .column {
    width: auto;
  }
  .row {
    align-items: center;
  }
}

.secondary-header__title {
  color: $dark-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  margin: 0;
  .fa {
    font-weight: 400;
    padding-right: 10px;
  }
}

.header-meta {
  display: flex;
  margin-left: auto;
  flex-direction: row;
  a {
    color: $grey;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:hover {
      color: $salo-blue;
    }
  }
  span {
    font-size: 20px;
    padding-top: 5px;
  }
  span.header-action-label {
    font-size: 14px;
  }
}

// Tertiary header

.search__text,
.search__category,
.search__order-by {
  width: 25%;
  display: flex;
}
.search__text {
  width: 50%;
}

.search__order-by {
  margin-left: auto;
}

