.product-details__card {
  flex-direction: column;
  padding-bottom: 0.5rem;
}

.tag-picker__wrapper {
  .card {
    display: block;
  }
}
.product-edit__tile-header {
  margin: 0 0 5rem;
  color: $grey;
  width: 100%;
  font-size: 2rem;
}