// Error messages

.form__error {
  display: none;
  text-align: left;
  width: 100%;
  font-size: 12px;
  color: $salo-red;

  .invalid & {
    display: block;
  }
}

// Submit

.form-button {
  position: relative;
  .lush-loader--inline {
    color: #fff;
    top: 5px;
    margin: 0;
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .loading & {
    input {
      background: $grey !important;
      color: $grey !important;
    }
  }
}

input[type=submit] {
  background: $salo-blue;
  border: none;
  height: 55px;
  text-transform: uppercase;
  color: #fff;
  @include transition__background;
  @include box-shadow-large;
  &:hover {
    background: mix($salo-blue, #000, 80%);
  }
}