.dropdown__wrapper {
  position: relative;
}

.dropdown__label {
  cursor: pointer;
}

.dropdown__list {
  display: none;
  position: absolute;
  top: 40px;
  right: 0;
  width: 200px;
  background: #fff;
  z-index: 5;
  @include box-shadow;
  &.show {
    display: block;
  }
  &:before {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -10px;
    right: 10px;
    content: '';
  }
}

.dropdown__item {
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  padding: 15px 25px;
  font-size: 14px;
  border-bottom: 1px solid $lush-black-8;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover {
    color: #fff;
    background: $lush-black-44;
  }
}

.dropdown__button {
  background: black;
  color: #fff;
  border-bottom: none;
}