.pagination {
  padding: 0 0 2.5rem!important;
  a {
    color: $dark-grey;
  }
  .disabled {
    a {
      color: $grey;
    }
  }
  .active {
    a {
      color: #fff;
    }
  }
  .pagination__item,
  .pagination__previous,
  .pagination__next {
    width: 4rem !important;
    height: 4rem !important;
    font-size: 1.4rem;
  }
}