.gallery-image__add-wrapper {
  .card {
    position: relative;
    background-size: cover !important;
    padding: 0;
  }
}

.gallery-image__link {
  padding: calc(50% - 35px) 0;
  width: 100%;
  position: relative;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
  @include transition__all;
  &:hover {
    background: rgba(0,0,0,0.1);
    color: #fff;
  }
  .has-image & {
    opacity: 0;
    color: #fff;
    &:hover {
      opacity: 1;
    }
  }
}

.gallery-image__overlay {
  height: 70px;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.gallery-image__image {
  padding: 50% 0;
  background-size: cover !important;
  position: relative;
}

.gallery-image__delete {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  width: 2.4rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fff !important;
  background: $salo-red;
  opacity: 0;
  cursor: pointer;
  @include transition__opacity;
}

.gallery-image__image:hover {
  .gallery-image__delete {
    opacity: 1;
  }
}