.lush-table {
  display: block;
  width: 100%;
  @include bp_min($phone) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  @include bp_min($tablet) {
    display: table;
  }
  &.data_loading {
    display: none;
  }
}



.lush-table__header {
  display: none;
  @include bp_min($tablet) {
    background: #fff;
    display: table-row;
    position: sticky;
    top: 80px;
  }
}

.lush-table__th {
  @include bp_min($tablet) {
    padding: 0 20px;
    display: table-cell;
    width: auto;
    height: 60px;
    vertical-align: middle;
    font-weight: 700;
    font-size: 11px;
    border-top: 1px solid $lush-black-8;
    border-bottom: 1px solid $lush-black-8;
  }
}

.lush-table__tr {
  display: block;
  padding: 15px;
  @include bp_max($phone) {
    &:nth-of-type(even) {
      background: $lush-black-3;
    }
  }
  @include bp_between($phone, $tablet) {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    &:nth-of-type(4n - 1),
    &:nth-of-type(4n) {
      background: $lush-black-3;
    }
  }
  @include bp_min($tablet) {
    padding: 0;
    display: table-row;
    &:nth-of-type(odd) {
      background: $lush-black-3;
    }
  }
}

.lush-table__td {
  display: block;
  width: 100%;
  padding: 5px;
  font-size: 17px;
  @include bp_max($tablet) {
    &:before {
      content: attr(data-title);
      display: block;
      font-weight: 700;
      font-size: 11px;
    }
  }
  @include bp_between($phone, $tablet) {
    display: flex;
    flex-direction: column;
  }
  @include bp_min($tablet) {
    padding: 0 20px;
    display: table-cell;
    width: auto;
    height: 70px;
    vertical-align: middle;
  }
}