.form__select-wrapper {
  position: relative;
  margin-bottom: 44px;
}

.form__select {
  margin: 0 !important;
  .invalid & {
    border-bottom: 2px solid $lush-red;
  }
  &:focus,
  &:active {
    box-shadow: none;
    outline: none;
  }
}