.secondary-header {
  justify-content: space-between;
  padding: 20px 0;
  width: 100%;
  &:not(.simplified) {
    background: $white;
    margin-bottom: 25px;
    @include box-shadow;
  }
}

.search__text,
.search__category,
.search__order-by {
  width: 25%;
  display: flex;
}
.search__text {
  width: 50%;
}

.search__order-by {
  margin-left: auto;
}